*{
	padding: 0;
	margin: 0;
}

.carousel{
	margin: auto;
}
.carousel-inner >  .carousel-item  > img {
  margin: auto;
 }

.carousel-item {
	height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media (max-width: 1020px) {
    .carousel {
      display: none; 
    }
  }

html{
	position: relative;
	height: 100%;
}

body {
	background-color: #eecc33;
	margin-top: 50px;
	position: relative;
	margin-bottom: 60px;
	height: 100%;
}

.home {
	position: relative;
	top: 2.75em; 
}

#home {
	padding-top: 50px;
}

#timeline {
	padding-top: 50px;
}

#movies {
	padding-top: 50px;
}

.logo {
    width: auto;
    max-width: 200px;
    min-height: 361px;
}

#img-div {
	min-height: 100px;
}

h3{
	margin-top: 15px;
	margin-bottom: 15px;
}

ul {
	list-style: none;
}

.layout {
	margin-bottom: 5.125em;
}

.icon {
	color: #7a091e !important;
}

.indicators{
	background-color: #5e0717 !important;
}

.nav-link {
	color: #a20000 !important;
}

.nav-link.active{
	color: #650000 !important;
}

footer{
	position: absolute;
	width: 100%;
	min-height: 70px;
}

.fa{
	color: #a20000;
}

.footer-left {
	top: 15px;
}

.footer-right {
	top: 15px;
}

#tribute-link{
	color: #02549b;
}

#icon-pack{
	color: #a20000;
}

.carousel-control-next, .carousel-control-prev{
	color: transparent;
}

@media (min-width: 690px) {
	.footer-right {
	margin: 0px;
	float: right;
	text-align: right;
	width: 50%;
}
	.footer-left {
		width: 50%;
	}
}
